# Исключаем директории PyCharm
.idea/

# Исключаем файлы конфигурации PyCharm
*.iml

# Исключаем кэш и временные файлы Python
__pycache__/
*.pyc
*.pyo

# Исключаем файлы виртуального окружения
venv/
env/

# Исключаем дополнительные лог-файлы
*.log