# Папки для временных файлов Python
__pycache__/
*.py[cod]

# Файлы базы данных
db.sqlite3

# Виртуальное окружение
venv/
.env/

# Логи
*.log

# Конфигурационные файлы PyCharm
.idea/

# Файлы с настройками системы
*.swp
.DS_Store
